<h2>Users List</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>  	
    </tr>	
  </thead>
  <tbody>
    <%@users.each do |user|%>
      <tr>
      	<td></td>
      	<td><%=user.email%></td>
      </tr>
    <%end%>	
  </tbody>	
</table>