<div class="fullscreen landing parallax" style="background-image:url('/assets/background.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
  
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        
          <!-- /.main title -->
            <h1 class="wow fadeInLeft">
            Phone Book 
            </h1>

          <!-- /.header paragraph -->
          <div class="landing-text wow fadeInUp">
            <p>Ini merupakan Halaman Phonebook, sebuah aplikasi yang sangat sederhana</p>
          </div>          
        </div> 
        
        <!-- /.signup form -->
        <div class="col-md-5">
        
          <div class="signup-header wow fadeInUp">
            <% unless user_signed_in? %>
              <h3 class="form-title text-center">Log In</h3>
              <%= form_for :user, url: user_session_path, class: "form-header", id: "#" do |f|%>
              <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
              <input type="hidden" name="id" value="bfdba52708">
                <div class="form-group">
                  <%= f.text_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Your Email'%>
                </div>
                <div class="form-group">
                  
                <%= f.password_field :password, autofocus: true, class: 'form-control input-lg', placeholder: 'Password'%>
                </div>
                <div class="form-group last">
                  <input type="submit" class="btn btn-warning btn-block btn-lg" value="LOGIN">
                </div>
                <p class="privacy text-center">We will not share your email. Read our <a href="privacy.html">privacy policy</a>.</p>
              <%end%>
            <%end%> 
          </div>        
        
        </div>
      </div>
    </div> 
  </div> 
</div>