<%= form_for @phone_number, html: { multipart: true } do |f|%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name'%>
  </div>
  <div class="form-group">
    <%= f.label :number %><br />
    <%= f.text_field :number, autofocus: true, class: 'form-control', placeholder: 'Phone Number'%>
  </div>
  <div class="form-group">
    <%= f.label :companny %><br />
    <%= f.text_field :companny, autofocus: true, class: 'form-control', placeholder: 'Companny Name'%>
  </div>
  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_area :address, autofocus: true, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar%>
    <%if @phone_number.avatar.present?%>
      <%= image_tag @phone_number.avatar.url(:thumb) %>
    <%end%>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
<%end%>