<div class="team-member">
  <%= image_tag @phone_number.avatar.url(:medium), class: "img-responsive img-circle" %>
  <h4><%= @phone_number.name%></h4>
  <h4><%= @phone_number.number%></h4>
  <p class="text-muted"><%= @phone_number.companny%></p>
  <p class="text-muted"><%= @phone_number.address%></p>

</div>

