<%= link_to "Add", new_phone_number_path,  class: "btn btn-lg btn-primary", remote: true%>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Companny</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	  <% @phone_numbers.each do |contact|%>
      <tr>
        <td><%= link_to contact.name, phone_number_path(contact), remote: true %></td>
        <td><%= contact.number%></td>
        <td><%= contact.companny%></td>
        <td>
          <% if can? :update, contact %>
            <%= link_to edit_phone_number_path(contact), class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <% end %>
          <% end %>

          <%= link_to phone_number_path(contact), method: :delete,class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
	  <%end%>

	</tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Contact</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>