<div class="col-md-4">
</div>
<div class="col-md-4">
  <h2 class="form-signin-heading">Please sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
    <%= f.label :email , class: "sr-only"%><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>

    <%= f.label :password , class: "sr-only"%><br />
    <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>

  <%= render "devise/shared/links" %>  
</div>

