.team-member{text-align:center;margin-bottom:50px}
.team-member img{margin:0 auto;border:7px solid #fff}
.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}
.team-member p{margin-top:0}
